extends layout

block content
  h1= title
  p Welcome to #{title}
  p hello kd
  img.className#IdName(src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/17098705_784709258353264_688379653842777478_n.jpg?oh=1031e77333dd6e14524e68b70fe3f65e&oe=592D84DF" width="500px" height="500px" alt="Image Title")
